
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Cinzel');

// Variables
//@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
//font BebasNeueRegular'
body{
  background: url("/css/img/wood_texture3837.jpg");
}
.header, .servis{
  margin-top: 50px;
}
.header-logo{
  display: flex;
  background: #000;
  color: #fff;

}
h1,h2{
  font-size:1.8rem;
  margin: 2rem 1rem;
}
.logo-text{
  font-size:1.5rem;
  font-weight:bold;
}
.logotip{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logotip-text{
  font-size:30px;
  font-weight:bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  text-decoration: underline;
  text-align: center;
  margin-top: -20px;
}
.logotip-text-small{
  font-weight:bold;
  letter-spacing: 1px;
  margin-top: -10px;
  text-align: center;
  font-size:14px;
}