
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Cinzel');

// Variables
//@import "variables";
$color-yellow:#FECE1A;

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap-grid";
//font BebasNeueRegular'
html,body{
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  font-weight:700;
}
.header{
  background: #000;
  color: $color-yellow;
  padding-bottom: 50px;

}
h1,h2{
  font-size:1.8rem;
  margin: 2rem 1rem;
}
.logo-text{
  font-size:1.5rem;
  font-weight:bold;
}
.logotip{
  display: flex;
  flex-direction: column;
  justify-content: center;
  a{
 text-align: center;
  }
}
.logotip-text{
  font-size:30px;
  font-weight:bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  text-decoration: underline;
  text-align: center;
  margin-top: -10px;
}
.logotip-text-small{
  font-weight:bold;
  letter-spacing: 1px;
  text-align: center;
  font-size:12px;
  text-transform: none;
}

 .phone{
   text-decoration: none;
   font-size:22px;
   color:$color-yellow;
 }
.main {
 // background-image: url(img/bg-1-min.jpg);
  background-size: cover;
  position: relative;
  justify-content: center;
  padding: 100px 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: $color-yellow;
    opacity: .8;
  }
  &_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    h2{
      margin: 10px;
    }
  }
  .main_botton{
    text-decoration: none;
  margin: 50px auto;
  padding: 15px 30px;
  border: 1px solid #000;
  color: #000;
  width: 40%;
  border-radius: 10px;
  -webkit-transition: background .4s;
  transition: all .4s;
  &:hover{
    background: #000000;
    color: $color-yellow;
    transition: all .4s;
  }
}
}
.goods{
  background: #000000;
  padding: 50px 0;
  color: $color-yellow;
  h3{
    font-size:40px;
    text-align: center;
  }
  p{
    margin: 30px 0;
  }
}
.card{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 100%;
  &_img{
    position: relative;
    img{
      width: 100%;
      height: 350px; // потмо выставить auto
    }
    .card_price{
      position: absolute;
      bottom: 0;
      background-color: #000;
      padding: 10px 0;
      text-align: center;
      width: 100%;
      opacity: .8;
    }
  }
  .card_botton{
    text-decoration: none;
    padding: 15px 30px;
    border: 1px solid $color-yellow;
    color: $color-yellow;
    width: 100%;
    border-radius: 10px;
    -webkit-transition: background .4s;
    transition: all .4s;
    text-align: center;
    cursor: pointer;
    &:hover{
      background: $color-yellow;
      color: #000;
      transition: all .4s;
    }
  }
  .card_text{
    padding: 10px;
    flex-grow: 1;
  }
}
.footer{
  background: $color-yellow;
  padding-bottom: 50px;
  .social{
    display: flex;
    flex-wrap: wrap;
    ul{
    display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
    .social__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      //background: $color-red;
      border-radius: 50%;
      border: 1px solid #000000;
      position: relative;
      margin: 5px;
      transition: background .4s;
      i {
        font-size: 36px;
        color: #000000;
        transition: color .8s
      }
      &:hover {
        cursor: pointer;
        background: #000000;
        transition: background .8s;
        i{
          color: $color-yellow;
        }
      }
    }
  }
  &-title{
    font-size:30px;
    width: 100%;
  }
  ul{
    padding-left: 0;
  }
  li{
    list-style: none;
    font-size:20px;
  }
  .phone{
    color: #000000;
    font-size: 20px;
    margin-left: 20px;
  }
}
/*----------modal*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 340px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
  margin-top: 0;
  color: #42b983;
  input{
    padding: 10px 5px;
    width: 100%;
    margin: 5px 0px;
  }

}
.botton-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .botton{
    margin:0;
    width: 45%;
    padding: 10px 5px;
    background: #42B983;
    color: white;
    border: none;
    cursor: pointer;

}
  .botton.cancel{
    background: #B6231A;
  }
}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}